@media screen and (max-width: 778px) {
    
    /* ///////////////////////// */

    .container_information {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .content_information {
        display: block;
        margin-left: 0px;
        margin-top: 50px;
    }

    .double_input {
        display: block; 
        align-items: center;
    }

    .champ_input_margin {
        margin-left: 0px;
    }
    .info_contact_right {
        margin-left: 0px;
        margin-top: 30px;
    }

}